*.class
*.log
*.trace

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

gen/
bin/

# IDE specific
.scala_dependencies
.worksheet
.idea/
.idea_modules/
.settings/